<div id="sortableTreeArea">
  <div class="row mt-2">
    <div class="col-12">
      <% if @taxonomy.root.present? %>
        <div class="card-body p-0 bg-light" data-controller="sortable-tree" data-sortable-tree-handle-value=".move-handle">
          <div id="primaryContainer" data-sortable-tree-parent-id-value="<%= @taxonomy.root.id %> ">

            <% if @taxonomy.root.children.present? %>
              <% @taxonomy.root.children.each do |root_children| %>
                   <%= build_taxonomy_tree(@taxonomy, root_children) %>
              <% end %>
            <% else %>
              <div class="alert alert-info no-objects-found m-5">
                <%= raw Spree.t('admin.navigation.no_menu_items', menu: @taxonomy.root.name) %>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
