<tr>
  <td>
    <input class="form-control" type="text" value="" name="[private_metadata][key][]" id="product_private_metadata_key">
  </td>
  <td>
    <input class="form-control" type="text" value="" name="[private_metadata][value][]" id="product_private_metadata_value">
  </td>
  <td></td>
</tr>
