<%= render partial: 'spree/admin/stores/tabs', locals: { current: :translations } %>

<div class="row" style="display: block">
  <%= render 'spree/admin/translations/form', resource: @store %>
</div>
