<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t('Data feeds') %>
    </h5>
  </div>
  <div class="card-body">
    <% @store.data_feed_settings.each do |data_feed_setting| %>
    <ul class="list-group mb-5">
      <li class="list-group-item">
        <%= data_feed_setting.name %> <code class="float-right"><%= data_feed_setting.formatted_url %></code>
      </li>
    </ul>
    <% end %>
  </div>
</div>
