<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      <%= Spree.t('Export') %>
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group mb-5">
      <li class="list-group-item">
        Link to Google feed in RSS 2.0 <code class="float-right"><%= current_store.formatted_url %>/api/v2/storefront/export/google.rss</code>
      </li>
    </ul>
  </div>
</div>
