<tr>
  <td>
    <input class="form-control" type="text" value="" name="[public_metadata][key][]" id="product_public_metadata_key">
  </td>
  <td>
    <input class="form-control" type="text" value="" name="[public_metadata][value][]" id="product_public_metadata_value">
  </td>
  <td></td>
</tr>
