<header class="header logged-in">
  <nav class="navbar fixed-top navbar-dark flex-nowrap bg-primary p-0">
    <div class="col p-0 d-lg-none">
      <button
        id="sidebar-open"
        class="btn btn-primary m-2"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <%= svg_icon name: "menu.svg", width: '20', height: '20' %>
      </button>
    </div>

    <div id="storeSwitcherDropdown" class="d-none d-md-flex col-auto text-center text-lg-left text-light align-items-center dropdown">
      <%= render partial: 'spree/admin/shared/store_switcher' %>
    </div>

    <% if can?(:admin, current_store) %>
      <div data-controller="search" class="m-2 w-100">
        <input id="storeSearch" class="form-control">
      </div>
    <% end %>

    <div class="col text-right p-0">
      <%= render partial: 'spree/admin/shared/account_nav' %>
    </div>
  </nav>
</header>
