<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_orders_path %>
  <%= @order.number %>
<% end %>

<% content_for :page_tabs do %>
  <% order_tabs.items.each do |tab| %>
    <% next unless tab.available?(current_ability, @order) %>
      <li class="nav-item">
        <%= link_to_with_icon(
          tab.icon_name,
          Spree.t(tab.text),
          tab.url(@resource),
          class: tab.active?(current) ? tab.classes.concat(' active') : tab.classes
        ) %>
      </li>
  <% end %>
<% end %>
