<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_products_path %>
  <%= @product.name %>
<% end %>

<% content_for :page_tabs do %>
  <% product_tabs.items.each do |tab| %>
    <% next unless tab.available?(current_ability, @product) %>
      <li class="nav-item">
        <%= link_to_with_icon(
          tab.icon_name,
          tab.text,
          tab.url(@product),
          class: tab.active?(current) ? "active #{tab.classes}" : tab.classes
        ) %>
      </li>
  <% end %>
<% end %>
