<% if spree_admin_show_version? %>
  <div
    class="spree-version px-3 py-2"
    aria-label="Spree Commerce version">
    <div class="d-flex align-items-center justify-content-between">
      <span class="text-muted small">
        <%= link_to Spree.version, "https://github.com/spree/spree/releases/tag/v#{Spree.version}", target: '_blank' %>
      </span>
      <% if spree_update_available? %>
        <span class="small text-info">
          <%= Spree.t(:update_available) %>!
        </span>
      <% end %>
    </div>
    
    <% if spree_update_available? %>
      <a href="https://docs.spreecommerce.org/developer/upgrades" target="_blank" class="mt-2 btn btn-sm btn-primary with-tip btn-block" title="Update your Spree instance to the latest version">
        <%= Spree.t(:update_spree) %>
      </a>
    <% end %>
  </div>
<% end %>
