<% if can?(:admin, current_store) && Spree::Backend::Config[:admin_show_version] %>
  <p
    class="spree-version ms-3 my-3"
    aria-label="Spree Commerce version">
    <span class="badge badge-pill badge-info">
    <%= Spree.version %>
    </span>
  </p>
<% end %>
