<% if can?(:admin, current_store) && Spree::Backend::RuntimeConfig[:admin_show_version] %>
  <p
    class="spree-version ml-3 my-3"
    aria-label="Spree Commerce version">
    <span class="badge rounded-pill bg-info">
    <%= Spree.version %>
    </span>
  </p>
<% end %>
