.badge {
  font-weight: 400;
  text-transform: capitalize;
}

// Green
.bg-completed,
.bg-complete,
.bg-resumed,
.bg-considered_safe,
.bg-paid,
.bg-shipped,
.bg-ready,
.bg-active,
.bg-success,
.bg-sold,
.bg-open,
.bg-authorized,
.bg-published,
.bg-live,
.bg-approved {
  background: var(--bs-green);
}

// Red
.bg-failed,
.bg-considered_risky,
.bg-error,
.bg-invalid,
.bg-rejected,
.bg-closed {
  background: var(--bs-red);
}

// Orange
.bg-processing,
.bg-pending,
.bg-awaiting_return,
.bg-returned,
.bg-credit_owed,
.bg-balance_due,
.bg-backorder,
.bg-checkout,
.bg-cart,
.bg-address,
.bg-delivery,
.bg-payment,
.bg-confirm,
.bg-canceled,
.bg-void,
.bg-inactive,
.bg-notice,
.bg-suspended,
.bg-partial {
  background: var(--bs-yellow);
}

// light
.bg-disabled,
.bg-invited {
  background: var(--bs-grey);
}

// Info
.bg-onboarding {
  background: var(--bs-cyan);
}
