// We should overide the bootstrap theming of buttons with a custom set of button classes that can

// .spree-success-btn
// .spree-warn-btn
// .spree-standard-btn

.payment-action-save {
    // This is a bad idea:
    // Ideally, I would keep colors out of SASS mixins, preferably set via -var() CSS variables
    // This allows for theme-able colors that won't blow up the SASS engine.

    @include button-variant($success, $success, $success);
}

.btn,
.nav-pills > li > a {
  vertical-align: middle;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.btn {
  text-align: center;

  .ship {
    color: #fff;
  }
  svg,
  i.icon {
    margin-right: 0.5rem;
    margin-bottom: 3px;
  }
  &.icon-link svg{
    margin-right: 0;
  }
}

input#image_attachment >
input[type="button"],
input[type="file"]::-webkit-file-upload-button {
  @include border-radius();
  border: 1px solid;
  background-color: white;
  color: $secondary;
  border-color: $secondary;
  padding: 0.375rem 0.75rem;
  &:hover {
    color: white;
    background-color: $secondary;
  }
}

.actions .btn,
.page-actions .btn {
  margin: 2px;
}


.btn-success {
  background-color: var(--bs-primary);

  &:hover {
    background: red;
  }
}
