.dropdown-menu {
  @extend .shadow;
}

.header {
  .navbar {
    min-height:54px;

    a:hover {
      text-decoration: none;
    }
    .btn {
      &:hover,
      &:focus {
        text-decoration: none;
        outline: 0;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    #storeSwitcherDropdown {
      .dropdown-menu.show {
        min-width: 250px;
        width: fit-content;
        max-width: 90vw;
        max-height: 70vh;
        overflow-y: hidden !important;
        top: $navbar-brand-height + 1.5rem;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 0%);

        @include media-breakpoint-up(lg) {
          left: 0%;
          right: 0%;
          transform: translate(0%, 0%);
        }

        a {
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;

          svg {
            vertical-align: text-top;
            margin-right: 1em;
          }

          &.disabled svg {
            color: theme-color('success');
          }
        }
      }
    }
  }
}
