<tr class="animate__animated animate__faster"
    data-controller="required-input"
    data-stream-enter-class="animate__flashIn">
  <td>
    <%= text_field_tag("[#{kind}_metadata][key][]", nil, { id: nil, class: 'form-control', data: { required_input_target: "togglableInput" } }) %>
  </td>
  <td>
    <%= text_field_tag("[#{kind}_metadata][value][]", nil, { id: nil, class: 'form-control', data: { action: "input->required-input#toggleRequired" } }) %>
  </td>
  <td class="text-center">
    <%= link_to '#', class: 'btn btn-light btn-sm', data: { action: 'click->row#remove' }  do %>
      <%= svg_icon name: "x-lg.svg", width: '16', height: '16', classes: 'p-0 mx-0' %>
    <% end %>
  </td>
</tr>
